button,
input[type=button] {
  color: #000;
  text-shadow: 0 -1px 0 #fff;
  background: #eee;
  border: 1px solid #777;
}
button:disabled,
input[type=button]:disabled {
  color: #777;
  text-shadow: 0 -1px 0 #ccc;
}
button:active,
input[type=button]:active {
  background-color: #f2dac2;
  border-color: #ff8000;
}
button:hover,
input[type=button]:hover,
button:focus,
input[type=button]:focus {
  background-color: #e2f2ce;
  border-color: #71d000;
  outline: none;
}
.button-group {
  display: inline-block;
  cursor: pointer;
}
.button-group > * {
  margin-left: -1px;
}
.button-group > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0;
}
.button-group > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-group > .active {
  background-color: #f2dac2;
  border-color: #ff8000;
  position: relative;
}
a {
  color: #71d000;
}
a:hover,
a:active {
  color: #ff8000;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  background: #eee;
  border: none;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: none;
  background: #777;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:hover::-webkit-slider-thumb {
  background: #0f0;
}
input[type=range]:active::-webkit-slider-thumb {
  background: #ffa500;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  background: #eee;
  border-radius: 2px;
  border: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background: #777;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eee;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]::-ms-fill-upper {
  background: #eee;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]::-ms-thumb {
  box-shadow: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #777;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #eee;
}
input[type=range]:focus::-ms-fill-upper {
  background: #eee;
}
.icon {
  display: inline-block;
}
.i-art {
  width: 16px;
  height: 16px;
}
.i-art-1 {
  background-position: -20px 0;
}
.i-art-2 {
  background-position: -40px 0;
}
.i-art-3 {
  background-position: -60px 0;
}
.i-art-4 {
  background-position: -80px 0;
}
.i-art-5 {
  background-position: -100px 0;
}
.i-art-6 {
  background-position: -120px 0;
}
.i-art-7 {
  background-position: -140px 0;
}
.i-art-8 {
  background-position: -160px 0;
}
.i-art-9 {
  background-position: -180px 0;
}
.i-building {
  vertical-align: bottom;
}
.t2 .i-building {
  width: 20px;
  height: 20px;
}
.t3 .i-building {
  width: 20px;
  height: 20px;
}
.t4 .i-building {
  width: 16px;
  height: 16px;
  background-size: 216px 116px;
}
.t5 .i-building {
  width: 25px;
  height: 25px;
  background-size: 325px 175px;
}
.i-building-0 {
  background-position: 0% 0%;
}
.i-building-1 {
  background-position: 10% 0%;
}
.i-building-2 {
  background-position: 20% 0%;
}
.i-building-3 {
  background-position: 30% 0%;
}
.i-building-4 {
  background-position: 40% 0%;
}
.i-building-5 {
  background-position: 50% 0%;
}
.i-building-6 {
  background-position: 60% 0%;
}
.i-building-7 {
  background-position: 70% 0%;
}
.i-building-8 {
  background-position: 80% 0%;
}
.i-building-9 {
  background-position: 90% 0%;
}
.i-building-10 {
  background-position: 0% 20%;
}
.i-building-11 {
  background-position: 10% 20%;
}
.i-building-12 {
  background-position: 20% 20%;
}
.i-building-13 {
  background-position: 30% 20%;
}
.i-building-14 {
  background-position: 40% 20%;
}
.i-building-15 {
  background-position: 50% 20%;
}
.i-building-16 {
  background-position: 60% 20%;
}
.i-building-17 {
  background-position: 70% 20%;
}
.i-building-18 {
  background-position: 80% 20%;
}
.i-building-19 {
  background-position: 90% 20%;
}
.i-building-20 {
  background-position: 0% 40%;
}
.i-building-21 {
  background-position: 10% 40%;
}
.i-building-22 {
  background-position: 20% 40%;
}
.i-building-23 {
  background-position: 30% 40%;
}
.i-building-24 {
  background-position: 40% 40%;
}
.i-building-25 {
  background-position: 50% 40%;
}
.i-building-26 {
  background-position: 60% 40%;
}
.i-building-27 {
  background-position: 70% 40%;
}
.i-building-28 {
  background-position: 80% 40%;
}
.i-building-29 {
  background-position: 90% 40%;
}
.i-building-30 {
  background-position: 0% 60%;
}
.i-building-31 {
  background-position: 10% 60%;
}
.i-building-32 {
  background-position: 20% 60%;
}
.i-building-33 {
  background-position: 30% 60%;
}
.i-building-34 {
  background-position: 40% 60%;
}
.i-building-35 {
  background-position: 50% 60%;
}
.i-building-36 {
  background-position: 60% 60%;
}
.i-building-37 {
  background-position: 70% 60%;
}
.i-building-38 {
  background-position: 80% 60%;
}
.i-building-39 {
  background-position: 90% 60%;
}
.i-building-40 {
  background-position: 0% 80%;
}
.i-building-41 {
  background-position: 10% 80%;
}
.i-building-42 {
  background-position: 20% 80%;
}
.i-building-43 {
  background-position: 30% 80%;
}
.i-building-44 {
  background-position: 40% 80%;
}
.i-building-45 {
  background-position: 50% 80%;
}
.i-building-46 {
  background-position: 60% 80%;
}
.i-building-47 {
  background-position: 70% 80%;
}
.i-building-48 {
  background-position: 80% 80%;
}
.i-building-49 {
  background-position: 90% 80%;
}
.t2 .i-building {
  background-image: url(../img/96/t2/buildings.png);
}
.t3 .i-building {
  background-image: url(../img/96/t3/buildings.png);
}
.t4 .i-building {
  background-image: url(../img/96/t4/buildings.png);
}
.t5 .i-building {
  background-image: url(../img/96/t5/buildings.png);
}
.i-crystal {
  width: 16px;
  height: 16px;
  background-size: 100px 16px;
}
.i-crystal-helm {
  background-position: 0px 0;
}
.i-crystal-body {
  background-position: -20px 0;
}
.i-crystal-left {
  background-position: -40px 0;
}
.i-crystal-right {
  background-position: -60px 0;
}
.i-crystal-boots {
  background-position: -80px 0;
}
.i-crystal {
  background-image: url(../img/96/t5/crystals.png);
}
.i-flag {
  background-size: 18px 672px;
  width: 18px;
  height: 12px;
  box-shadow: 0 0 2px #777;
}
.i-flag-ae {
  background-position: 0 0px;
}
.i-flag-ar {
  background-position: 0 -12px;
}
.i-flag-ba {
  background-position: 0 -24px;
}
.i-flag-bg {
  background-position: 0 -36px;
}
.i-flag-br {
  background-position: 0 -48px;
}
.i-flag-cl {
  background-position: 0 -60px;
}
.i-flag-cz {
  background-position: 0 -72px;
}
.i-flag-de {
  background-position: 0 -84px;
}
.i-flag-dk {
  background-position: 0 -96px;
}
.i-flag-ee {
  background-position: 0 -108px;
}
.i-flag-eg {
  background-position: 0 -120px;
}
.i-flag-com {
  background-position: 0 -132px;
}
.i-flag-es {
  background-position: 0 -144px;
}
.i-flag-fi {
  background-position: 0 -156px;
}
.i-flag-fr {
  background-position: 0 -168px;
}
.i-flag-gr {
  background-position: 0 -180px;
}
.i-flag-hk {
  background-position: 0 -192px;
}
.i-flag-hr {
  background-position: 0 -204px;
}
.i-flag-hu {
  background-position: 0 -216px;
}
.i-flag-49 {
  background-position: 0 -228px;
}
.i-flag-il {
  background-position: 0 -240px;
}
.i-flag-ine {
  background-position: 0 -252px;
}
.i-flag-ir {
  background-position: 0 -264px;
}
.i-flag-it {
  background-position: 0 -276px;
}
.i-flag-jp {
  background-position: 0 -288px;
}
.i-flag-kr {
  background-position: 0 -300px;
}
.i-flag-lt {
  background-position: 0 -312px;
}
.i-flag-lv {
  background-position: 0 -324px;
}
.i-flag-ma {
  background-position: 0 -336px;
}
.i-flag-mx {
  background-position: 0 -348px;
}
.i-flag-my {
  background-position: 0 -360px;
}
.i-flag-nl {
  background-position: 0 -372px;
}
.i-flag-no {
  background-position: 0 -384px;
}
.i-flag-ph {
  background-position: 0 -396px;
}
.i-flag-pk {
  background-position: 0 -408px;
}
.i-flag-pl {
  background-position: 0 -420px;
}
.i-flag-pt {
  background-position: 0 -432px;
}
.i-flag-ro {
  background-position: 0 -444px;
}
.i-flag-rs {
  background-position: 0 -456px;
}
.i-flag-ru {
  background-position: 0 -468px;
}
.i-flag-sa {
  background-position: 0 -480px;
}
.i-flag-se {
  background-position: 0 -492px;
}
.i-flag-si {
  background-position: 0 -504px;
}
.i-flag-sk {
  background-position: 0 -516px;
}
.i-flag-sy {
  background-position: 0 -528px;
}
.i-flag-th {
  background-position: 0 -540px;
}
.i-flag-tr {
  background-position: 0 -552px;
}
.i-flag-tw {
  background-position: 0 -564px;
}
.i-flag-ua {
  background-position: 0 -576px;
}
.i-flag-uk {
  background-position: 0 -588px;
}
.i-flag-us {
  background-position: 0 -600px;
}
.i-flag-vn {
  background-position: 0 -612px;
}
.i-flag-ye {
  background-position: 0 -624px;
}
.i-flag-za {
  background-position: 0 -636px;
}
.i-flag-cn {
  background-position: 0 -648px;
}
.i-item-class {
  width: 16px;
  height: 16px;
  background-size: 160px 40px;
}
.i-item-class-helm {
  background-position: 0px 0;
}
.i-item-class-left {
  background-position: -20px 0;
}
.i-item-class-boots {
  background-position: -40px 0;
}
.i-item-class-band25 {
  background-position: -60px 0;
}
.i-item-class-scroll {
  background-position: -80px 0;
}
.i-item-class-ointment {
  background-position: -100px 0;
}
.i-item-class-cage {
  background-position: -120px 0;
}
.i-item-class-art {
  background-position: -140px 0;
}
.i-item-class-body {
  background-position: 0px -20px;
}
.i-item-class-right {
  background-position: -20px -20px;
}
.i-item-class-horse {
  background-position: -40px -20px;
}
.i-item-class-band33 {
  background-position: -60px -20px;
}
.i-item-class-book {
  background-position: -80px -20px;
}
.i-item-class-bucket {
  background-position: -100px -20px;
}
.i-item-class-tables {
  background-position: -120px -20px;
}
.t4 .i-item-class {
  background-image: url(../img/96/t4/items.png);
}
.t5 .i-item-class {
  background-image: url(../img/96/t5/items.png);
}
.i-menu {
  background-size: 304px 96px;
}
.i-menu-index {
  background-position: 0 0;
}
.i-menu-warsim {
  background-position: 0 -48px;
}
.i-menu-build {
  background-position: -48px 0;
}
.i-menu-hero {
  background-position: -48px -48px;
}
.i-menu-servers {
  background-position: -96px -48px;
}
.i-menu-warsim {
  background-position: -144px 0;
}
.i-menu-distance {
  background-position: -272px 0;
}
.i-menu-conq {
  background-position: -176px 0;
}
.i-menu-off_calc {
  background-position: -208px 0;
}
.i-menu-war {
  background-position: -240px 0;
}
.i-menu-villages_res {
  background-position: -144px -32px;
}
.i-menu-troops {
  background-position: -176px -32px;
}
.i-menu-oases {
  background-position: -208px -32px;
}
.i-menu-culture {
  background-position: -240px -32px;
}
.i-menu-hero {
  background-position: -144px -64px;
}
.i-menu-items {
  background-position: -176px -64px;
}
.i-menu-about {
  background-position: -208px -64px;
}
.i-menu-thanks {
  background-position: -240px -64px;
}
.i-res {
  width: 20px;
  height: 12px;
}
.i-res-6 {
  height: 16px;
}
.i-res-1 {
  background-position: center 0px;
}
.i-res-2 {
  background-position: center 20px;
}
.i-res-3 {
  background-position: center 40px;
}
.i-res-4 {
  background-position: center 60px;
}
.i-res-5 {
  background-position: center 80px;
}
.i-res-6 {
  background-position: center 100px;
}
.t2 .i-res {
  background-image: url(../img/96/t2/res.png);
}
.t3 .i-res {
  background-image: url(../img/96/t3/res.png);
}
.t4 .i-res {
  background-image: url(../img/96/t4/res.png);
}
.t5 .i-res {
  background-image: url(../img/96/t5/res.png);
}
.t5 .i-res {
  width: 16px;
  height: 16px;
}
.i-spec {
  width: 16px;
  height: 16px;
  background-size: 200px 40px;
}
.i-spec-hab {
  background-position: 0px 0;
}
.i-spec-cat {
  background-position: -20px 0;
}
.i-spec-hero {
  background-position: -40px 0;
}
.i-spec-exp {
  background-position: -60px 0;
}
.i-spec-traps {
  background-position: 0px -20px;
}
.i-spec-free {
  background-position: -20px -20px;
}
.i-spec-exp {
  background-position: -40px -20px;
}
.i-spec-build {
  background-position: -60px -20px;
}
.i-spec-ab-phi {
  background-position: 0px -40px;
  width: 18px;
  height: 18px;
}
.i-spec-ab-rec {
  background-position: -20px -40px;
  width: 18px;
  height: 18px;
}
.i-spec-ab-com {
  background-position: -40px -40px;
  width: 18px;
  height: 18px;
}
.i-spec-ab-met {
  background-position: -60px -40px;
  width: 18px;
  height: 18px;
}
.i-spec {
  background-image: url(../img/96/t2/specials.png);
}
.i-spec {
  background-image: url(../img/96/t3/specials.png);
}
.i-spec {
  background-image: url(../img/96/t4/specials.png);
}
.i-spec {
  background-image: url(../img/96/t5/specials.png);
}
.i-stat {
  width: 16px;
  height: 16px;
  background-size: 200px 40px;
}
.i-stat-off {
  background-position: 0px 0;
}
.i-stat-off_i {
  background-position: -20px 0;
}
.i-stat-off_c {
  background-position: -40px 0;
}
.i-stat-def {
  background-position: -60px 0;
}
.i-stat-def_i {
  background-position: -80px 0;
}
.i-stat-def_c {
  background-position: -100px 0;
}
.i-stat-off_s {
  background-position: -120px 0;
}
.i-stat-def_s {
  background-position: -140px 0;
}
.i-stat-point {
  background-position: -160px 0;
}
.i-stat-cap {
  background-position: -180px 0;
}
.i-stat-off_p {
  background-position: 0px -20px;
}
.i-stat-nil {
  background-position: -20px -20px;
}
.i-stat-nil {
  background-position: -40px -20px;
}
.i-stat-def_b {
  background-position: -60px -20px;
}
.i-stat-off_p {
  background-position: -80px -20px;
}
.i-stat-def_p {
  background-position: -100px -20px;
}
.i-stat-speed {
  background-position: -120px -20px;
}
.i-stat-health {
  background-position: -140px -20px;
}
.t2 .i-stat {
  background-image: url(../img/96/t2/stats.png);
}
.t3 .i-stat {
  background-image: url(../img/96/t3/stats.png);
}
.t4 .i-stat {
  background-image: url(../img/96/t4/stats.png);
}
.t5 .i-stat {
  background-image: url(../img/96/t5/stats.png);
}
.i-unit {
  width: 16px;
  height: 16px;
  background-size: 200px 16px;
}
.i-unit-1 {
  background-position: 0px 0;
}
.i-unit-2 {
  background-position: -20px 0;
}
.i-unit-3 {
  background-position: -40px 0;
}
.i-unit-4 {
  background-position: -60px 0;
}
.i-unit-5 {
  background-position: -80px 0;
}
.i-unit-6 {
  background-position: -100px 0;
}
.i-unit-7 {
  background-position: -120px 0;
}
.i-unit-8 {
  background-position: -140px 0;
}
.i-unit-9 {
  background-position: -160px 0;
}
.i-unit-10 {
  background-position: -180px 0;
}
.t2 .i-unit-tribe-1 {
  background-image: url(../img/96/t2/tr-1.png);
}
.t2 .i-unit-tribe-2 {
  background-image: url(../img/96/t2/tr-2.png);
}
.t2 .i-unit-tribe-3 {
  background-image: url(../img/96/t2/tr-3.png);
}
.t2 .i-unit-tribe-4 {
  background-image: url(../img/96/t2/tr-4.png);
}
.t2 .i-unit-tribe-5 {
  background-image: url(../img/96/t2/tr-5.png);
}
.t3 .i-unit-tribe-1 {
  background-image: url(../img/96/t3/tr-1.png);
}
.t3 .i-unit-tribe-2 {
  background-image: url(../img/96/t3/tr-2.png);
}
.t3 .i-unit-tribe-3 {
  background-image: url(../img/96/t3/tr-3.png);
}
.t3 .i-unit-tribe-4 {
  background-image: url(../img/96/t3/tr-4.png);
}
.t3 .i-unit-tribe-5 {
  background-image: url(../img/96/t3/tr-5.png);
}
.t4 .i-unit-tribe-1 {
  background-image: url(../img/96/t4/tr-1.png);
}
.t4 .i-unit-tribe-2 {
  background-image: url(../img/96/t4/tr-2.png);
}
.t4 .i-unit-tribe-3 {
  background-image: url(../img/96/t4/tr-3.png);
}
.t4 .i-unit-tribe-4 {
  background-image: url(../img/96/t4/tr-4.png);
}
.t4 .i-unit-tribe-5 {
  background-image: url(../img/96/t4/tr-5.png);
}
.t4 .i-unit-tribe-6 {
  background-image: url(../img/96/t4/tr-6.png);
}
.t4 .i-unit-tribe-7 {
  background-image: url(../img/96/t4/tr-7.png);
}
.t5 .i-unit-tribe-1 {
  background-image: url(../img/96/t5/tr-1.png);
}
.t5 .i-unit-tribe-2 {
  background-image: url(../img/96/t5/tr-2.png);
}
.t5 .i-unit-tribe-3 {
  background-image: url(../img/96/t5/tr-3.png);
}
.t5 .i-unit-tribe-4 {
  background-image: url(../img/96/t5/tr-4.png);
}
.t5 .i-unit-tribe-5 {
  background-image: url(../img/96/t5/tr-5.png);
}
@media screen and (min-resolution: 1.118dppx), (min-resolution: 107dpi), (-webkit-min-device-pixel-ratio: 1.118) {
  .i-art {
    background-image: url(../img/120/artefacts.png);
  }
  .t4 .i-building {
    background-image: url(../img/120/t4/buildings.png);
  }
  .i-crystal {
    background-image: url(../img/120/t5/crystals.png);
  }
  .i-menu {
    background-image: url(../img/120/menu.gif);
  }
  .t4 .i-unit-tribe-1 {
    background-image: url(../img/120/t4/tr-1.png);
  }
  .t4 .i-unit-tribe-2 {
    background-image: url(../img/120/t4/tr-2.png);
  }
  .t4 .i-unit-tribe-3 {
    background-image: url(../img/120/t4/tr-3.png);
  }
  .t4 .i-unit-tribe-4 {
    background-image: url(../img/120/t4/tr-4.png);
  }
  .t4 .i-unit-tribe-5 {
    background-image: url(../img/120/t4/tr-5.png);
  }
  .t4 .i-unit-tribe-6 {
    background-image: url(../img/120/t4/tr-6.png);
  }
  .t4 .i-unit-tribe-7 {
    background-image: url(../img/120/t4/tr-7.png);
  }
  .t5 .i-unit-tribe-1 {
    background-image: url(../img/120/t5/tr-1.png);
  }
  .t5 .i-unit-tribe-2 {
    background-image: url(../img/120/t5/tr-2.png);
  }
  .t5 .i-unit-tribe-3 {
    background-image: url(../img/120/t5/tr-3.png);
  }
  .t5 .i-unit-tribe-4 {
    background-image: url(../img/120/t5/tr-4.png);
  }
  .t5 .i-unit-tribe-5 {
    background-image: url(../img/120/t5/tr-5.png);
  }
  .t4 .i-res {
    background-image: url(../img/120/t4/res.png);
  }
  .t5 .i-res {
    background-image: url(../img/120/t5/res.png);
  }
  .t4 .i-item-class {
    background-image: url(../img/120/t4/items.png);
  }
  .t5 .i-item-class {
    background-image: url(../img/120/t5/items.png);
  }
}
@media screen and (min-resolution: 1.369dppx), (min-resolution: 131dpi), (-webkit-min-device-pixel-ratio: 1.369) {
  .i-art {
    background-image: url(../img/144/artefacts.png);
  }
  .i-crystal {
    background-image: url(../img/144/t5/crystals.png);
  }
  .t4 .i-item-class {
    background-image: url(../img/144/t4/items.png);
  }
  .t5 .i-item-class {
    background-image: url(../img/144/t5/items.png);
  }
  .i-menu {
    background-image: url(../img/144/menu.gif);
  }
  .t4 .i-res {
    background-image: url(../img/144/t4/res.png);
  }
  .t5 .i-res {
    background-image: url(../img/144/t5/res.png);
  }
  .t4 .i-unit-tribe-1 {
    background-image: url(../img/144/t4/tr-1.png);
  }
  .t4 .i-unit-tribe-2 {
    background-image: url(../img/144/t4/tr-2.png);
  }
  .t4 .i-unit-tribe-3 {
    background-image: url(../img/144/t4/tr-3.png);
  }
  .t4 .i-unit-tribe-4 {
    background-image: url(../img/144/t4/tr-4.png);
  }
  .t4 .i-unit-tribe-5 {
    background-image: url(../img/144/t4/tr-5.png);
  }
  .t4 .i-unit-tribe-6 {
    background-image: url(../img/144/t4/tr-6.png);
  }
  .t4 .i-unit-tribe-7 {
    background-image: url(../img/144/t4/tr-7.png);
  }
  .t5 .i-unit-tribe-1 {
    background-image: url(../img/144/t5/tr-1.png);
  }
  .t5 .i-unit-tribe-2 {
    background-image: url(../img/144/t5/tr-2.png);
  }
  .t5 .i-unit-tribe-3 {
    background-image: url(../img/144/t5/tr-3.png);
  }
  .t5 .i-unit-tribe-4 {
    background-image: url(../img/144/t5/tr-4.png);
  }
  .t5 .i-unit-tribe-5 {
    background-image: url(../img/144/t5/tr-5.png);
  }
}
@media screen and (min-resolution: 1.732dppx), (min-resolution: 166dpi), (-webkit-min-device-pixel-ratio: 1.732) {
  .i-art {
    background-image: url(../img/192/artefacts.png);
  }
  .t2 .i-building {
    background-image: url(../img/192/t2/buildings.png);
  }
  .t3 .i-building {
    background-image: url(../img/192/t3/buildings.png);
  }
  .t4 .i-building {
    background-image: url(../img/192/t4/buildings.png);
  }
  .t5 .i-building {
    background-image: url(../img/192/t5/buildings.png);
  }
  .i-crystal {
    background-image: url(../img/192/t5/crystals.png);
  }
  .t4 .i-item-class {
    background-image: url(../img/192/t4/items.png);
  }
  .t5 .i-item-class {
    background-image: url(../img/192/t5/items.png);
  }
  .i-menu {
    background-image: url(../img/192/menu.gif);
  }
  .t4 .i-res {
    background-image: url(../img/192/t4/res.png);
  }
  .t5 .i-res {
    background-image: url(../img/192/t5/res.png);
  }
  .t4 .i-unit-tribe-1 {
    background-image: url(../img/192/t4/tr-1.png);
  }
  .t4 .i-unit-tribe-2 {
    background-image: url(../img/192/t4/tr-2.png);
  }
  .t4 .i-unit-tribe-3 {
    background-image: url(../img/192/t4/tr-3.png);
  }
  .t4 .i-unit-tribe-4 {
    background-image: url(../img/192/t4/tr-4.png);
  }
  .t4 .i-unit-tribe-5 {
    background-image: url(../img/192/t4/tr-5.png);
  }
  .t4 .i-unit-tribe-6 {
    background-image: url(../img/192/t4/tr-6.png);
  }
  .t4 .i-unit-tribe-7 {
    background-image: url(../img/192/t4/tr-7.png);
  }
  .t5 .i-unit-tribe-1 {
    background-image: url(../img/192/t5/tr-1.png);
  }
  .t5 .i-unit-tribe-2 {
    background-image: url(../img/192/t5/tr-2.png);
  }
  .t5 .i-unit-tribe-3 {
    background-image: url(../img/192/t5/tr-3.png);
  }
  .t5 .i-unit-tribe-4 {
    background-image: url(../img/192/t5/tr-4.png);
  }
  .t5 .i-unit-tribe-5 {
    background-image: url(../img/192/t5/tr-5.png);
  }
}
@media screen and (min-resolution: 2.236dppx), (min-resolution: 215dpi), (-webkit-min-device-pixel-ratio: 2.236) {
  .t4 .i-res {
    background-image: url(../img/240/t4/res.png);
  }
  .t5 .i-res {
    background-image: url(../img/240/t5/res.png);
  }
}
@media screen and (min-resolution: 2.739dppx), (min-resolution: 263dpi), (-webkit-min-device-pixel-ratio: 2.739) {
  .i-crystal {
    background-image: url(../img/288/t5/crystals.png);
  }
  .t4 .i-res {
    background-image: url(../img/288/t4/res.png);
  }
}
