* {
	direction:inherit;
}

/* Page background, links */ 
body { 
	color: #000000;
	background-color: white;
	font-size: 12pt;
	text-align: center;
	font-family: Calibri, Helvetica, Arial, Tahoma, sans-serif;
}

a {
	text-decoration: none; 
	font-weight: bold;
}
table.wire {
    border: solid 1px silver;
    border-width: 0 1px 1px 0;
    border-spacing: 0;
}
table.wire td {
    border-left: solid 1px silver;
    border-top: solid 1px silver;
    padding: 4px;
}
table.wire tr {
	font-size: 11pt;
	text-align: center;
}
table.wire tr.sum > td {
	font-weight: bold;
}

div.ad, div#icons { margin: 0 auto; }

a:link, a:visited { color: #71D000; }
a:hover { color: #00BC00; }
a:active { color: #FF8000; }

/* navi */
.navi {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url('../img/navi.gif');
}

.navi_close { background-position: 0 -32px; }
.navi_close:hover { background-position: 0 0; }
.navi_close:active { background-position: 0 -16px; }

.def .navi_close { background-position: 0 0; }
.def .navi_down { background-position: -16px 0; }
.def .navi_up { background-position: -32px 0; }
.def .navi_plus { background-position: -48px 0; }
.def .navi_under { background-position: -64px 0; }
.def .navi_minus { background-position: -96px 0; }
.def .inactive.navi_down { background-position: -16px -48px; }
.def .inactive.navi_up { background-position: -32px -48px; }

.off .navi_close { background-position: 0 -16px; }
.off .navi_down { background-position: -16px -16px; }
.off .navi_up { background-position: -32px -16px; }
.off .navi_plus { background-position: -48px -16px; }
.off .navi_under { background-position: -64px -16px; }
.off .navi_minus { background-position: -96px -16px; }
.off .inactive.navi_down { background-position: -16px -64px; }
.off .inactive.navi_up { background-position: -32px -64px; }

.collapsed .navi_close { background-position: 0 -32px; }
.collapsed .navi_down { background-position: -16px -32px; }
.collapsed .navi_up { background-position: -32px -32px; }
.collapsed .navi_plus { background-position: -48px -32px; }
.collapsed .navi_under { background-position: -64px -32px; }
.collapsed .navi_minus { background-position: -96px -32px; }
.collapsed .inactive.navi_up { background-position: -32px -32px; }
.collapsed .inactive.navi_down { background-position: -16px -32px; }


/* layout */
#warning, #notice {
	width: 790px;
	text-align: center;
	margin: 4px auto;
	padding: 3px;
	border: 1px solid transparent;
}
#warning {
	background-color: #fee;
	border-color: #630;
    color: #600;
}
#notice {
	background-color: #efe;
	border-color: silver;
    color: #030;
}

.container {
	background-color: white;
	border: 1px solid silver;
	width: 798px;
	margin: 0 0 0 5px;
	position: relative;
}

.content {
	margin: 5px;
}

div#menu td {
	overflow:hidden;
}

#icons {
	clear:both;
	padding:5px;
	direction:ltr;
	font-size:10px;
}
#icons/*, .ad*/ {
	width:790px;
}
/* content */
/*div.ad {
	width:798px;
	margin:0 auto;
}*/
.ad {
	text-align:left;
}

.fm {
	border:solid #C0D0C0 1px;
	font-size:8pt;
}

img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	border: 0;
}

span.but {
	font-weight: bold;
	border: 1px solid silver;
	background-color: #f4f4f4;
	padding: 0 2px;
	border-radius: 2px;
}

/* menu */
#menu table.wire {
	z-index:1000;
	border-width:0px 1px;
}
#menu table.wire td {
	font-size:90%;
	border-width:1px 0px;
	padding:0;
}
#menu a {
	color:black;
	display:block;
	width:100%;
	height:100%;
	padding:5px;
}
#menu a:hover {
	background-color:#dfd;
}
#more-langs-details {
	font-size: 11px;
	visibility: hidden;
	overflow: hidden;
}
#menu a#more-langs, #menu #more-langs-details a {
	display: inline;
	padding: 0;
}
#menu a#more-langs {
	font-size: 80%;
	color: #999;
}
#menu a#more-langs:hover, #menu #more-langs-details a:hover { background:transparent; }

#menu table.wire tr.here a {
	background:#ddd;
}
#menu table.wire td.ico {
	text-align:center;
	font-size:140%;
}
.flag {
	width:18px;
	height:12px;
	background-image:url(../img/flags.png);
	box-shadow: 0 0 2px #777;
}
.flag.ae { background-position:0 0px; }
.flag.ar { background-position:0 -12px; }
.flag.au { background-position:0 -24px; }
.flag.ba { background-position:0 -36px; }
.flag.bg { background-position:0 -48px; }
.flag.br { background-position:0 -60px; }
.flag.cl { background-position:0 -72px; }
.flag.cz { background-position:0 -84px; }
.flag.de { background-position:0 -96px; }
.flag.dk { background-position:0 -108px; }
.flag.ee { background-position:0 -120px; }
.flag.eg { background-position:0 -132px; }
.flag.com { background-position:0 -144px; }
.flag.es { background-position:0 -156px; }
.flag.fi { background-position:0 -168px; }
.flag.fr { background-position:0 -180px; }
.flag.gr { background-position:0 -192px; }
.flag.hk { background-position:0 -204px; }
.flag.hr { background-position:0 -216px; }
.flag.hu { background-position:0 -228px; }
.flag.id { background-position:0 -240px; }
.flag.il { background-position:0 -252px; }
.flag.in, .flag.ine { background-position:0 -264px; }
.flag.ir { background-position:0 -276px; }
.flag.it { background-position:0 -288px; }
.flag.jp { background-position:0 -300px; }
.flag.kr { background-position:0 -312px; }
.flag.lt { background-position:0 -324px; }
.flag.lv { background-position:0 -336px; }
.flag.ma { background-position:0 -348px; }
.flag.mx { background-position:0 -360px; }
.flag.my { background-position:0 -372px; }
.flag.nl { background-position:0 -384px; }
.flag.no { background-position:0 -396px; }
.flag.ph { background-position:0 -408px; }
.flag.pk { background-position:0 -420px; }
.flag.pl { background-position:0 -432px; }
.flag.pt { background-position:0 -444px; }
.flag.ro { background-position:0 -456px; }
.flag.rs { background-position:0 -468px; }
.flag.ru { background-position:0 -480px; }
.flag.sa { background-position:0 -492px; }
.flag.se { background-position:0 -504px; }
.flag.si { background-position:0 -516px; }
.flag.sk { background-position:0 -528px; }
.flag.sy { background-position:0 -540px; }
.flag.th { background-position:0 -552px; }
.flag.tr { background-position:0 -564px; }
.flag.tw { background-position:0 -576px; }
.flag.ua { background-position:0 -588px; }
.flag.uk { background-position:0 -600px; }
.flag.us { background-position:0 -612px; }
.flag.vn { background-position:0 -624px; }
.flag.ye { background-position:0 -636px; }
.flag.za { background-position:0 -648px; }
.flag.cn { background-position:0 -660px; }

/* logs */
#report .version {
	color:silver;
	font-size:75%;
}
.log_side {
	width:500px;
}
.log_side thead td { background-color:#F3F3F3; }
.log_side thead td.role { font-weight:bold; width:23%; }

.attacker .role { color: #FF8000; }
.defender .role { color: #71D000; }
.log_page {
	width:100%;
}
.log_tab {
	float:left;
	border:solid silver 1px;
	padding:1px;
}
#log_pages {
	clear:left;
}

table#news {
	direction:ltr;
	width:100%;
	text-align:center;
}

#main .gid {
	font-weight:bold;
}

/* resources */
.res { width:18px; height:12px; }
.r1, .r2, .r3, .r4, .r5, .r6, .r7 {
	background-image: url(/img/a/res2.gif);
}
.r1 { background-position: 0 0; }
.r2 { background-position: -21px 0; }
.r3 { background-position: -42px 0; }
.r4 { background-position: -63px 0; }
.r5 { background-position: -84px 0; }
.r6 { background-position: -105px 0; }
.r7 { background-position: -126px 0; }

/* units */
.unit, .stats { width:16px; height:16px; }
.u1,  .u2,  .u3,  .u4,  .u5,  .u6,  .u7,  .u8,  .u9,  .u10 { background-image: url(../img/u/v1_romans2.gif);}
.u11, .u12, .u13, .u14, .u15, .u16, .u17, .u18, .u19, .u20 { background-image: url(../img/u/v2_teutons2.gif); }
.u21, .u22, .u23, .u24, .u25, .u26, .u27, .u28, .u29, .u30 { background-image: url(../img/u/v3_gauls2.gif); }
.u31, .u32, .u33, .u34, .u35, .u36, .u37, .u38, .u39, .u40 { background-image: url(../img/u/v4_nature2.gif); }
.u41, .u42, .u43, .u44, .u45, .u46, .u47, .u48, .u49, .u50 { background-image: url(../img/u/v5_natars2.gif); }
.uhab, .ucata, .ustock, .uwall, .ubarr, .upal, .ugeb, .uhero, .uunits, .ustone { background-image:url(../img/u/specials.gif); }
.stats { background-image: url(../img/stats.png);}
.u1, .u11, .u21, .u31, .u41, .uhab,	 .att_all { background-position: 0 0; }
.u2, .u12, .u22, .u32, .u42, .ucata, .att_i   { background-position: -19px 0; }
.u3, .u13, .u23, .u33, .u43, .ustock,.att_c   { background-position: -38px 0; }
.u4, .u14, .u24, .u34, .u44, .uwall, .def_all { background-position: -57px 0; }
.u5, .u15, .u25, .u35, .u45, .ubarr, .def_i   { background-position: -76px 0; }
.u6, .u16, .u26, .u36, .u46, .upal,	 .def_c   { background-position: -95px 0; }
.u7, .u17, .u27, .u37, .u47, .ugeb,	 .eye     { background-position: -114px 0; }
.u8, .u18, .u28, .u38, .u48, .uhero, .def_s   { background-position: -133px 0; }
.u9, .u19, .u29, .u39, .u49, .uunits,.point   { background-position: -152px 0; }
.u10, .u20, .u30, .u40, .u50, .ustone,.cap    { background-position: -171px 0; }
.att_bonus {  background-position:  0 -19px; }
.def_bonus {  background-position:  -57px -19px; }
.att_plus {  background-position:  -76px -19px; }
.def_plus {  background-position:  -95px -19px; }
.speed { background-position:  -152px -19px; }
.health { background-position:  -171px -19px; }
img.u98{background-image:url(../../img/u/98.gif);}
img.u99{background-image:url(../../img/u/99.gif);}

img.art { height: 16px; width: 16px; }
img.art { background-image:url(../../img/misc/artefacts.gif); }
img.art1 { background-position: 0 0; }
img.art2 { background-position: -16px 0; }
img.art3 { background-position: -32px 0; }
img.art4 { background-position: -48px 0; }
img.art5 { background-position: -64px 0; }
img.art6 { background-position: -80px 0; }
img.art7 { background-position: -96px 0; }
img.art8 { background-position: -112px 0; }
img.art9 { background-position: -144px 0; }

/* slider */
div.slider {
	text-align: left;
	width: 200px;
	height: 16px;
	background: #eee;
	direction: ltr;
}
div.slider div.knob {
	background: #555; 
	position: relative;
	width: 16px;
	height: 16px;
	direction: ltr;
	cursor: pointer;//hand;
}


/* server announcer */
#servers {
	width: 65%;
	font-size: 10pt;
}

/* date and current day appearance */
#servers tr.date td { border-top: 1px solid silver; }
/*#servers tr.current td {
	border-top: 1px solid silver;
	font-weight: bold;
}*/
#servers tr td.date { padding: 3px 10px; }
#servers tr.current td.date {
	font-weight: bold;
	padding: 3px 9px;
}

/* month separator */
#servers tr.month { background: #eee; }
#servers tr.month td {
	border-top: 1px solid #ccc;
	font-weight: bold;
	color: #999;
	text-shadow: 0 1px 1px #ddd;
}
#servers tr.month td.date {
	color: black;
	text-shadow: 0 1px 1px #c4c4c4;
}

/* future's cells */
#servers .future td {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#servers tr.future td { border-color: gray; }


/* mark specific servers like speed or classic */
#servers td.mainstream { color: #555; }
#servers td.non-typical { font-weight: bold; }
#servers .speed {
	font-style: italic;
	text-shadow: 1px 0 0 #aaa, 2px 0 0 #c8c8c8, 3px 0 0 #dadada, 4px 0 0 #e8e8e8, 5px 0 0 #f0f0f0, 6px 0 0 #f6f6f6	, 7px 0 0 #fafafa;
	filter: Shadow(color='#b0b0b0',Direction=90,Strength=5);
}

/* off_calc */
#page-off_calc span.line { witespace:no-wrap; }
#page-off_calc #t4_items select { font-size: 80%; }
#page-off_calc .weapon .unnecesary { color: gray; }
#page-off_calc #army { margin-top: 8px; width: 400px; }
#page-off_calc #warsim { clear: left; margin-top: 5px; }
#page-off_calc div.title {
	position:absolute;
	top: -16px;
	cursor: auto;
}
#page-off_calc div.title div div { position: absolute; }

/* new T4 hero */
img.itemCategory {
    background-image: url("../../img/hero/item.png");
    height: 16px;
    width: 16px;
}
img.itemCategory_helmet { background-position: 0 0; }
img.itemCategory_body { background-position: 0 -26px; }
img.itemCategory_leftHand { background-position: 0 -52px; }
img.itemCategory_rightHand { background-position: 0 -78px; }
img.itemCategory_shoes { background-position: 0 -104px; }
img.itemCategory_horse { background-position: 0 -130px; }
img.itemCategory_bandage25 { background-position: 0 -156px; }
img.itemCategory_bandage33 { background-position: 0 -182px; }
img.itemCategory_cage { background-position: 0 -208px; }
img.itemCategory_scroll { background-position: 0 -234px; }
img.itemCategory_ointment { background-position: 0 -260px; }
img.itemCategory_bucketOfWater { background-position: 0 -286px; }
img.itemCategory_bookOfWisdom { background-position: 0 -312px; }
img.itemCategory_lawTables { background-position: 0 -338px; }
img.itemCategory_artWork { background-position: 0 -364px; }

/* items */
#page-items h3, #page-items h4 {
	clear: both;
	margin: 0;
	padding: 0.5em 0 0;
}
#page-items .tabs {
	font-family: Arial;
}
#page-items .item {
	width: 380px;
	height: 80px;
	line-height: 115%;
	border: 1px solid #bbb;
	margin: 5px;
	font-size: 85%;
}
#page-items .item img { margin: 0; }
#page-items .item ol {
	margin: 5px 0;
	font-size: 11px;
}
#page-items .item ol li { list-style: upper-roman; }
#page-items a.block.opened:before { content: "▼"; }
#page-items .tab1, #page-items .tab2, #page-items .tab3 {
	display:none;
	width: 360px;
}

#page-items .item .tabs div {
	text-align: center;
	border: 1px solid silver;
	cursor: pointer; // hand;
	width: 15px;	
}
#page-items .item .tabs div.active {
	background-color: #cfa;
	width: 16px;
	margin: 0;
}
/* items */
.item-large {
	width: 81px;
	height: 81px;
}
#item_1, #item_2, #item_3,
#item_4, #item_5, #item_6,
#item_7, #item_8, #item_9,
#item_10, #item_11, #item_12,
#item_13, #item_14, #item_15 {
	background-image: url('/img/hero/blocks/helms.png');
}
#item_16, #item_17, #item_18,
#item_19, #item_20, #item_21,
#item_22, #item_23, #item_24,
#item_25, #item_26, #item_27,
#item_28, #item_29, #item_30 {
	background-image: url('/img/hero/blocks/roman-weapons.png');
}
#item_31, #item_32, #item_33,
#item_34, #item_35, #item_36,
#item_37, #item_38, #item_39,
#item_40, #item_41, #item_42,
#item_43, #item_44, #item_45 {
	background-image: url('/img/hero/blocks/gaul-weapons.png');
}
#item_46, #item_47, #item_48,
#item_49, #item_50, #item_51,
#item_52, #item_53, #item_54,
#item_55, #item_56, #item_57,
#item_58, #item_59, #item_60 {
	background-image: url('/img/hero/blocks/teuton-weapons.png');
}
#item_61, #item_62, #item_63,
#item_64, #item_65, #item_66,
#item_67, #item_68, #item_69,
#item_73, #item_74, #item_75,
#item_76, #item_77, #item_78,
#item_79, #item_80, #item_81 {
	background-image: url('/img/hero/blocks/left-hand.png');
}
#item_82, #item_83, #item_84,
#item_85, #item_86, #item_87,
#item_88, #item_89, #item_90,
#item_91, #item_92, #item_93 {
	background-image: url('/img/hero/blocks/armors.png');
}
#item_94, #item_95, #item_96,
#item_97, #item_98, #item_99,
#item_100, #item_101, #item_102 {
	background-image: url('/img/hero/blocks/boots.png');
}
#item_103, #item_104, #item_105,
#item_106, #item_107, #item_108,
#item_109, #item_110, #item_111,
#item_112, #item_113, #item_114 {
	background-image: url('/img/hero/blocks/misc.png');
}
.female #item_1, .female #item_2, .female #item_3,
.female #item_4, .female #item_5, .female #item_6,
.female #item_7, .female #item_8, .female #item_9,
.female #item_10, .female #item_11, .female #item_12,
.female #item_13, .female #item_14, .female #item_15 {
	background-image: url('/img/hero/blocks/helmsf.png');
}
.female #item_16, .female #item_17, .female #item_18,
.female #item_19, .female #item_20, .female #item_21,
.female #item_22, .female #item_23, .female #item_24,
.female #item_25, .female #item_26, .female #item_27,
.female #item_28, .female #item_29, .female #item_30 {
	background-image: url('/img/hero/blocks/roman-weaponsf.png');
}
.female #item_31, .female #item_32, .female #item_33,
.female #item_34, .female #item_35, .female #item_36,
.female #item_37, .female #item_38, .female #item_39,
.female #item_40, .female #item_41, .female #item_42,
.female #item_43, .female #item_44, .female #item_45 {
	background-image: url('/img/hero/blocks/gaul-weaponsf.png');
}
.female #item_46, .female #item_47, .female #item_48,
.female #item_49, .female #item_50, .female #item_51,
.female #item_52, .female #item_53, .female #item_54,
.female #item_55, .female #item_56, .female #item_57,
.female #item_58, .female #item_59, .female #item_60 {
	background-image: url('/img/hero/blocks/teuton-weaponsf.png');
}
.female #item_61, .female #item_62, .female #item_63,
.female #item_64, .female #item_65, .female #item_66,
.female #item_67, .female #item_68, .female #item_69,
.female #item_73, .female #item_74, .female #item_75,
.female #item_76, .female #item_77, .female #item_78,
.female #item_79, .female #item_80, .female #item_81 {
	background-image: url('/img/hero/blocks/left-handf.png');
}
.female #item_82, .female #item_83, .female #item_84,
.female #item_85, .female #item_86, .female #item_87,
.female #item_88, .female #item_89, .female #item_90,
.female #item_91, .female #item_92, .female #item_93 {
	background-image: url('/img/hero/blocks/armorsf.png');
}
.female #item_94, .female #item_95, .female #item_96,
.female #item_97, .female #item_98, .female #item_99,
.female #item_100, .female #item_101, .female #item_102 {
	background-image: url('/img/hero/blocks/bootsf.png');
}

#item_1, #item_16, #item_31, #item_46, #item_61, #item_82, #item_94, #item_103 { background-position: 0 0; }
#item_2, #item_17, #item_32, #item_47, #item_62, #item_83, #item_95, #item_104 { background-position: -88px 0; }
#item_3, #item_18, #item_33, #item_48, #item_63, #item_84, #item_96, #item_105 { background-position: -176px 0; }
#item_4, #item_19, #item_34, #item_49, #item_64, #item_85, #item_97, #item_106 { background-position: 0 -88px; }
#item_5, #item_20, #item_35, #item_50, #item_65, #item_86, #item_98, #item_107 { background-position: -88px -88px; }
#item_6, #item_21, #item_36, #item_51, #item_66, #item_87, #item_99, #item_108 { background-position: -176px -88px; }
#item_7, #item_22, #item_37, #item_52, #item_67, #item_88, #item_100, #item_109 { background-position: 0 -176px; }
#item_8, #item_23, #item_38, #item_53, #item_68, #item_89, #item_101, #item_110 { background-position: -88px -176px; }
#item_9, #item_24, #item_39, #item_54, #item_69, #item_90, #item_102, #item_111 { background-position: -176px -176px; }
#item_10, #item_25, #item_40, #item_55, #item_73, #item_91, #item_112 { background-position: 0 -264px; }
#item_11, #item_26, #item_41, #item_56, #item_74, #item_92, #item_113 { background-position: -88px -264px; }
#item_12, #item_27, #item_42, #item_57, #item_75, #item_93, #item_114 { background-position: -176px -264px; }
#item_13, #item_28, #item_43, #item_58, #item_76 { background-position: 0 -352px; }
#item_14, #item_29, #item_44, #item_59, #item_77 { background-position: -88px -352px; }
#item_15, #item_30, #item_45, #item_60, #item_78 { background-position: -176px -352px; }
#item_79 { background-position: 0 -440px; }
#item_80 { background-position: -88px -440px; }
#item_81 { background-position: -176px -440px; }

/* buildings */
.building{display:inline-block;width:20px;height:20px; background:url(../img/buildings.png) no-repeat scroll 0 0 transparent;}
.g1{background-position: 0 0;}
.g2{background-position: -20px 0;}
.g3{background-position: -40px 0;}
.g4{background-position: -60px 0;}
.g5{background-position: -80px 0;}
.g6{background-position: -100px 0;}
.g7{background-position: -120px 0;}
.g8{background-position: -140px 0;}
.g9{background-position: -160px 0;}
.g10{background-position: -180px 0;}
.g11{background-position: -200px 0;}
.g38{background-position: -220px 0;}
.g39{background-position: -240px 0;}

.g12{background-position: 0 -20px;}
.g13,img.g42{background-position: -20px -20px;}
.g14{background-position: -40px -20px;}
.g16{background-position: -60px -20px;}
.g19{background-position: -80px -20px;}
.g20{background-position: -100px -20px;}
.g21{background-position: -120px -20px;}
.g22{background-position: -140px -20px;}
.g29{background-position: -160px -20px;}
.g30{background-position: -180px -20px;}
.g36{background-position: -200px -20px;}
.g37{background-position: -220px -20px;}

.g15{background-position: 0px -40px;}
.g17{background-position: -20px -40px;}
.g18{background-position: -40px -40px;}
.g23{background-position: -60px -40px;}
.g24{background-position: -80px -40px;}
.g25{background-position: -100px -40px;}
.g26{background-position: -120px -40px;}
.g27{background-position: -140px -40px;}
.g28{background-position: -160px -40px;}
.g34{background-position: -180px -40px;}
.g35{background-position: -200px -40px;}
.g41{background-position: -220px -40px;}
.g40{background-position: -240px -40px;}

.g31{background-position: -260px 0px;}
.g32{background-position: -260px -20px;}
.g33{background-position: -260px -40px;}


/* new layout */
.page {
	float: none;
	margin: 5px auto 0;
}
div#menu {
	width: auto;
	float: none;
}
#menu a {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../img/newmenu.png') -96px 0;
	opacity: 0.75;
	text-decoration: none;
	border-radius: 2px;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
}
#menu .menuitem > a > .menuitem__title {
	position: absolute;
	left: -1px;
	top: 55px;
	color: #444;
	display: none;
	font-size: 11px;
	font-weight: normal;
	padding: 4px 0;
	width: 100%;
	border-radius: 3px; 
	background: #eee;
	box-shadow: 0 0 3px black;
	z-index: 1;
}
#menu .menuitem > a:hover > .menuitem__title {
	display: block;
	box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
}
#menu .menuitem {
	border-radius: 2px;
	box-shadow: 0 0 2px #888;
}
#menu .menuitem-large {
	border-radius: 3px;
	box-shadow: 0 0 3px #888;
}
#menu a:hover, #menu a.current {
	border-color: #888;
	opacity: 1;
}
#menu a:hover {
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05) inset;
	background-color: transparent;
}
#menu .menuitem-large a:hover {
	box-shadow: 0 20px 5px rgba(0, 0, 0, 0.05) inset;
}
#menu .menuitem-large a:hover {
	border-radius: 3px;
/*	box-shadow: 1px 1px 3px -1px #aaa inset;*/
}
#menu .menuitem-large a {
	width: 48px;
	height: 48px;
	border-radius: 3px;
}
.menublock {
	display: inline-block;
	position: relative;
	padding: 0 2px;
}
.menuitem {
	float: left;
	background-color: #eee;
	margin: 19px 2px 1px;
}
.menuitem-large {
	margin: 3px 1px 1px;
}
.menutitle {
	position: absolute;
	left: 56px;
	right: 3px;
	top: 1px;
	overflow: hidden;
	text-align: center;
	color: #444;
	font: 11px/15px;
	text-shadow: 0 1px 0 white;
	border-radius: 3px 3px 0 0;
}
#menu .menuitem-index { background-position: 0 0; }
#menu .menuitem-warsim { background-position: 0 -48px; }
#menu .menuitem-build { background-position: -48px 0; }
#menu .menuitem-hero4 { background-position: -48px -48px; }
#menu .menuitem-servers { background-position: -96px -48px; }

#menu .menuitem-distance { background-position: -272px 0; }
#menu .menuitem-conq { background-position: -176px 0; }
#menu .menuitem-off { background-position: -208px 0; }
#menu .menuitem-war { background-position: -240px 0; }

#menu .menuitem-village { background-position: -144px -32px; }
#menu .menuitem-troops { background-position: -176px -32px; }
#menu .menuitem-oases { background-position: -208px -32px; }
#menu .menuitem-culture { background-position: -240px -32px; }

#menu .menuitem-hero { background-position: -144px -64px; }
#menu .menuitem-items { background-position: -176px -64px; }
#menu .menuitem-about { background-position: -208px -64px; }
#menu .menuitem-thanks { background-position: -240px -64px; }

@media screen and (-webkit-device-pixel-ratio: 2) {
	.menuitem   { background-image: url(../img/newmenu@2x.png);     background-size: 304px 96px; }
	.flag       { background-image: url(../img/flags@2x.png);       background-size: 18px 672px; }
	.stats      { background-image: url(../img/stats@2x.png);       background-size: 190px 38px; }
	.building   { background-image :url(../img/buildings@2x.png);   background-size: 280px 60px; }
    .navi       { background-image: url(../img/navi@2x.gif);        background-size: 144px 80px; }
}
