@import "../variables"

button
input[type=button]
    color black
    text-shadow 0 -1px 0 white
    background #eee
    border 1px solid #777
    &:disabled
        color #777
        text-shadow 0 -1px 0 #ccc
    &:active
        background-color ui_orange_pale
        border-color ui_orange
    &:hover
    &:focus
        background-color ui_green_pale
        border-color ui_green
        outline none
