nav 
    & > a
        color #444
        text-decoration none
        margin 0 2px
        display inline-block
        &.selected > span
            border-bottom 2px solid
            box-sizing border-box
        & > span
            vertical-align top
            display inline-block
            height 32px
            line-height 32px
    & .icon
        vertical-align top