building(version)
	.t{version} .i-building
    	background-image url pathjoin(dpi_path(), version, "buildings.png")

.t2 .i-building
	width 20px
	height 20px

.t3 .i-building
	width 20px
	height 20px

.t4 .i-building
	width 16px
	height 16px

.t5 .i-building
	width 25px
	height 25px
