building(version)
    .t{version} .i-building
        background-image unquote("url(" + pathjoin(dpi_path(), "t" + version, "buildings.png") + ")")

.t2 .i-building
    margin-bottom -4px
    width 20px
    height 20px

.t3 .i-building
    margin-bottom -4px
    width 20px
    height 20px

.t4 .i-building
    margin-bottom -2px
    width 16px
    height 16px
    background-size 216px 116px

.t5 .i-building
    margin-bottom -7px
    width 25px
    height 25px
    background-size 325px 175px

for y in (0..4)
    for x in (0..9)
        id = y * 10 + x
        .i-building-{id}
            background-position (100% * x / 10) (100% * y / 5)

building(2)
building(3)
building(4)
building(5)