crystal()
    .i-crystal
        background-image unquote("url(" + pathjoin(dpi_path(), "t5", "crystals.png") + ")")

.i-crystal
    margin-bottom -2px
    width 16px
    height 16px
    background-size 100px 16px

for type, i in helm body left right boots
    .i-crystal-{type}
        background-position (-20px * i) 0

crystal()