// flags
flag()
    .i-flag
        background-image unquote("url(" + pathjoin(dpi_path(), "flags.png") + ")")

.i-flag
    background-size 18px 672px
    width 18px
    height 12px
    box-shadow 0 0 2px #777

flags = ae ar ba bg br cl cz de dk ee eg com es fi fr gr hk hr hu id il ine ir it jp kr lt lv ma mx my nl no ph pk pl pt ro rs ru sa se si sk sy th tr tw ua uk us vn ye za cn

for flag, i in flags
    .i-flag-{flag}
        background-position 0 (-12px * i)