.i-menu
    background-size 304px 96px
    width 32px
    height 32px

menu()
    .i-menu
        background-image unquote("url(" + pathjoin(dpi_path(), "menu.png") + ")")

.i-menu-index
    background-position 0 0
.i-menu-warsim
    background-position 0 -48px
.i-menu-build
    background-position -48px 0
.i-menu-hero
    background-position -48px -48px
.i-menu-servers
    background-position -96px -48px
.i-menu-warsim
    background-position -144px 0
.i-menu-distance
    background-position -272px 0
.i-menu-conq
    background-position -176px 0
.i-menu-off_calc
    background-position -208px 0
.i-menu-war
    background-position -240px 0
.i-menu-villages_res
    background-position -144px -32px
.i-menu-troops
    background-position -176px -32px
.i-menu-oases
    background-position -208px -32px
.i-menu-culture
    background-position -240px -32px
.i-menu-hero
    background-position -144px -64px
.i-menu-items
    background-position -176px -64px
.i-menu-about
    background-position -208px -64px
.i-menu-thanks
    background-position -240px -64px

menu()
