.i-res
    width 20px
    height 12px
    background-size 20px

.i-res-6
    height 16px

.t5 .i-res
    margin-bottom -2px
    width 16px
    height 16px

for r in (1..7)
    .i-res-{r}
        background-position center (20px * (1 - r))

res(version)
    .t{version} .i-res
        background-image unquote("url(" + pathjoin(dpi_path(), "t" + version, "res.png") + ")")

res(2)
res(3)
res(4)
res(5)
