stat(version)
    .t{version} .i-stat
        background-image unquote("url(" + pathjoin(dpi_path(), "t" + version, "stats.png") + ")")

.i-stat
    margin-bottom -2px
    width 16px
    height 16px
    background-size 200px 40px

for name, i in off off_i off_c def def_i def_c off_s def_s point cap
    .i-stat-{name}
        background-position (-20px * i) 0

for name, i in off_p nil nil def_b off_p def_p nil nil speed health
    .i-stat-{name}
        background-position (-20px * i) -20px

for i in (2..5)
    stat(i)